{% load static %}
<footer class="main-footer">
   <div class="sisf-page-footer-inner-area sis-br-radius sis-comman-background position-relative mb-3">
      <div class="sisf-sis-bottom-left-image">
         <figure>
            <img src="{% static 'web/image/flower-footer-2.png' %}" alt="Rosella">
         </figure>
      </div>
      <div class="sisf-sis-bottom-right-image">
         <figure>
            <img src="{% static 'web/image/footer-flower1.png' %}" alt="Rosella">
         </figure>
      </div>

      <div class="sis-e-footer-background radius">
         <div class="sisf-page-footer-middle-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-2 col-md-6"></div>
                  <div class="col-lg-3">
                     <div class="sis-e-footer-contact-content">
                        <div class="sis-e-contact-info mb-2">
                           <a href="tel:+14157864521">
                              <span class="sisf-e-title-inner">
                                 <span class="sisf-e-title-text"><i class="fa-solid pe-2 fa-phone"></i> +1 (415) 786-4521</span>
                              </span>
                           </a>
                        </div>
                        <div class="sis-e-contact-info mb-2">
                           <a href="mailto:info@weddinghillage.com">
                              <span class="sisf-e-title-text"><i class="fa-regular fa-envelope pe-2"></i> info@weddinghillage.com</span>
                           </a>
                        </div>
                        <div class="sis-e-contact-info">
                           <a href="#">
                              <span class="sisf-e-title-text"><i class="fa-solid fa-location-dot pe-2"></i> 1200 Liberty Avenue, Suite 450 New York, NY 10006, USA</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <img src="{% static 'web/images/logo/logooo.png' %}" style="width: 300px;" alt="Wedding Hillage">
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="footer-links">
                        <h3>Follow us on</h3>
                     </div>
                     <div class="footer-social-icons-link">
                        <ul class="list-unstyled p-0 m-0">
                           <li><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
                           <li><a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="sisf-page-footer-bottom-area">
            <div class="container"></div>
            <div class="row">
               <div class="col-12">
                  <div class="sis-scroll-container m-0">
                     <div class="sis-scroll-content">
                        <div class="sis-footer-content sisf-e-colored"><span style="font-family: 'Gramatica' !important;color: #f6e8d5;">Wedding Hillage</span></div>
                        <div class="sis-footer-content sisf-e-colored"><span style="font-family: 'Gramatica' !important;color: #f6e8d5;">Wedding Hillage</span></div>
                     </div>
                     <div class="sis-scroll-content ms-4">
                        <div class="sis-footer-content sisf-e-colored"><span style="font-family: 'Gramatica' !important;color: #f6e8d5;">Wedding Hillage</span></div>
                        <div class="sis-footer-content sisf-e-colored"><span style="font-family: 'Gramatica' !important;color: #f6e8d5;">Wedding Hillage</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
