<div class="col-lg-3 col-md-6">
   <div class="sisf-product-list sisf-product" data-aos="fade-up" data-aos-delay="{{ aos_delay }}" data-aos-duration="1200">
      <div class="sisf-product-list-item">
         <div class="sis-e-inner">
            <div class="sisf-product-image">
               <figure>
                  <img src="{{ product.image.url }}" class="image-fluid w-100" alt="{{ product.name }}">
               </figure>
               <div class="sis-heart-icon">
                  <button type="button" class="border-0 bg-transparent p-0">
                     <i class="fa-regular fa-heart"></i>
                  </button>
               </div>
               <div class="sisf-m-button text-center">
                  <button type="button" class="sis-btn-default">{{ product.name }}</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
