<div class="swiper-slide">
   <div class="sisf-e-inner p-4 radius position-relative">
      <div class="sisf-bottom-quote-with-content">
         <div class="sisf-bottom--content mb-3 d-flex align-items-center justify-content-between">
            <div class="quote-left-icon">
               <span><i class="fa-solid fa-quote-left"></i></span>
            </div>
         </div>
         <div class="sisf-e-author-detail-with-star d-flex align-items-center justify-content-between">
            <div class="sisf-e-author">
               <span class="sisf-e-author-name d-block">{{ testimonial.client_name }}</span>
               <span class="sisf-e-author-job d-block">{{ testimonial.service_label }}</span>
            </div>
         </div>
      </div>
      <div class="sisf-e-top">
         <div class="sisf-e-discription">
            <h5>“{{ testimonial.quote }}”</h5>
         </div>
      </div>
   </div>
</div>
